//variables
$button-height: 48px;
$black-text-color: #12263f;
$btn-width: 165px;
// custom table
.custom-table {
  div.dataTables_wrapper div.dataTables_filter {
    position: relative;
    text-align: left;

    label {
      position: relative;

      &::before {
        position: absolute;
        top: 7px;
        left: 20px;
        z-index: 10;
        display: block;
        font-family: "Web Icons";
        font-size: 21px;
        color: $black-text-color;
        content: "\f131";
      }
    }

    input {
      position: relative;
      width: 100%;
      min-width: 220px;
      height: $button-height;
      padding-left: 50px;
      margin-left: 0;
      font-size: 16px;
    }
  }

  .btn {
    border-radius: 6px !important;
  }

  &-toolbar {
    display: flex;
    flex-direction: row;
    //flex-wrap: nowrap;
    justify-content: space-between;

    .btn {
      position: relative;
      display: inline-block;
      width: $btn-width;
      height: $button-height;
      padding: 10px 20px;
      margin: 0 10px;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: $button-height;
      line-height: 150%;

      &.dropdown-toggle {
        position: relative;
        display: inline-block;
        width: $btn-width;
        color: $black-text-color;
        text-align-last: left;
        background: $white;
      }
    }

    .btn-group .btn ~ .dropdown-toggle::after,
    .dropdown-toggle::after {
      position: absolute;
      top: 50%;
      right: 20px;
      margin-top: -11px;
      font-family: "Web Icons";
      content: "\f183";
      border: 0;
    }

    .btn-group {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;

      .btn {
        margin: 0 10px;
      }
    }
  }

  table {
    border-spacing: 0 1em;
    border-collapse: separate;

    th,
    td {
      padding: 18px 18px 18px 24px;
      border: 0;
    }
  }

  thead th {
    font-family: "Euclid Circular A";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    color: #a5b1c3;
    text-align: left;
    border: 0;
  }

  tbody td {
    font-family: "Euclid Circular A";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 153.6%;
    color: $black-text-color;
    vertical-align: middle;
    background-color: $white;

    span {
      display: block;
      width: 100%;

      &.light {
        color: #a5b1c3;
      }

      &.badge {
        display: inline-block;
        width: inherit;
        font-weight: 400;
      }
    }
  }

  tbody tr {
    margin: 10px 0;
    border-bottom: 20px solid transparent;
    border-radius: 3px;
  }

  .actions {
    width: 80px;

    .btn-group {
      float: right;

      .btn {
        border: 0;
      }
    }

    .dropdown-menu {
      background: #345178;
    }

    .dropdown-toggle::before,
    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-item {
      color: $white;
      text-decoration: none;

      &:hover,
      &:focus {
        color: #345178;
      }
    }
  }

  .media {
    align-items: center;

    &-body {
      a {
        text-decoration: none;
      }
    }

    .btn-group {
      .badge {
        margin-right: .5rem;
      }
    }

    .btn-icon.btn-sm {
      width: 16px;
      padding: 4px;
      font-size: 7px;
      line-height: 1;
    }
  }

  .pagination {
    .page-item.active {
      .page-link {
        color: $white;
      }
    }
    .page-item.disabled {
      a {
        color: #76838f;
      }
    }
    .page-link {
      font-size: 1rem;
      font-weight: 400;
      color: $black-text-color;
      border: 0;
      border-radius: 6px;
    }
  }

  //Create box in Segments table
  .create {
    padding: 1rem;
    .dropdown-toggle::after {
      display: none;
    }
  }
  .create-tags {
    position: relative;
    display: flex;
    padding: 0 0 0 5rem;
    .dropdown {
      position: absolute;
      top: 0;
      left: 0;
    }
    .btn.icon {
      position: absolute;
      top: 1rem;
      z-index: 2;
      padding: 5px;
      &.wb-chevron-left-mini {
        left: 3.5rem;
      }
      &.wb-chevron-right-mini {
        right: -1rem;
      }
    }
    &-list {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: flex-start;
      overflow: hidden;
    }
    label {
      margin: 0 5px;
      input {
        width: 0;
        opacity: 0;
      }
    }
    .hide {
      display: none;
    }
  }

  .create-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .dropdown {
      margin-right: 1rem;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .btn + .btn {
      margin-left: 1rem;
    }
  }


  table.dataTable thead .sorting::before,
  table.dataTable thead .sorting_asc::before,
  table.dataTable thead .sorting_desc::before,
  table.dataTable thead .sorting_asc_disabled::before,
  table.dataTable thead .sorting_desc_disabled::before {
    content: "\f182";
  }

  table.dataTable thead .sorting::after,
  table.dataTable thead .sorting_asc::after,
  table.dataTable thead .sorting_desc::after,
  table.dataTable thead .sorting_asc_disabled::after,
  table.dataTable thead .sorting_desc_disabled::after {
    content: "\f183";
  }

  table thead th[aria-label="Action"] {
    text-align: right;
  }


}


.table-simple {
  tr:first-child {
    td {
      border-top: 0;
    }
  }
  td {
    padding-right: 0;
    padding-left: 0;
  }
  //font-family: "Roboto";
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  color: #828282;
}



//customization of the collection button from dropdown to select list with checkboxes
.dt-button-collection .dt-button.dropdown-item {

  position: relative;
  padding: .25em 0;
  text-align: left !important;
  background: none !important;
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.dt-button-collection .dropdown-item::before,
.dt-button-collection .dropdown-item.active span::before {
  position: absolute;
  top: 9px;
  left: 5px;
  display: block;
  width: 18px;
  height: 18px;
  font-size: 12px;
  border-radius: 3px;
}
.dt-button-collection .dropdown-item::before {
  content: "";
  border: 1px solid #b5c1c8;


}
.dt-button-collection .dropdown-item.active span::before {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Web Icons";
  color: $white;
  content: "\f192";
  background: $primary;
  border: 1px solid $primary;
}
.dt-button-collection .dropdown-item span {
  display: block;
  width: 100%;
  padding-left: 28px;
  font-family: $font-family-base;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: $black;
}


// Responsive
// ========================================================================

//@include media-breakpoint-up(md) {
//  .custom-table-toolbar .btn-group {
//    justify-content: flex-start;
//    flex-wrap: wrap;
//  }
//  .custom-table div.dataTables_wrapper div.dataTables_filter label {
//    width: 100%;
//  }
//}

@include media-breakpoint-down(sm) {
  .custom-table-toolbar .btn-group .btn,
  .custom-table-toolbar .btn.dropdown-toggle {
    width: 100%;
    margin: 0 auto 10px;
  }
}
@include media-breakpoint-down(md) {
  .custom-table-toolbar .btn-group {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .custom-table-toolbar .btn-group .btn {
    margin-bottom: 10px;
  }
  .custom-table div.dataTables_wrapper div.dataTables_filter label {
    width: 100%;
  }
  div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    justify-content: center !important;
  }
  .dataTables_length{
    float: none !important;
    margin-bottom: 1rem;
  }
}
@include media-breakpoint-up(xl) {

}
