---
title: Appointments Coming
body_class: dashboard site-menubar-fold site-menubar-fold-alt site-menubar-keep
---

{{#extend "layout-default"}}
{{#content "css_vendor" mode="append"}}
<!-- <link rel="stylesheet" href="{{assets}}/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css"> -->
<link rel="stylesheet" href="{{assets}}/vendor/icheck/icheck.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-fixedheader-bs4/dataTables.fixedheader.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-fixedcolumns-bs4/dataTables.fixedcolumns.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-rowgroup-bs4/dataTables.rowgroup.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-scroller-bs4/dataTables.scroller.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-select-bs4/dataTables.select.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-responsive-bs4/dataTables.responsive.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-buttons-bs4/dataTables.buttons.bootstrap4.css">

<!-- <link rel="stylesheet" href="{{assets}}/vendor/chartist/chartist.css"> -->
<link rel="stylesheet" href="{{assets}}/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css">
<link rel="stylesheet" href="{{assets}}/vendor/asscrollable/asScrollable.css">
<link rel="stylesheet" href="{{assets}}/vendor/bootstrap/bootstrap.css">
<link rel="stylesheet" href="{{assets}}/vendor/select2/select2.css">
<link rel="stylesheet" href="{{assets}}/vendor/bootstrap-select/bootstrap-select.css">
<link rel="stylesheet" href="{{assets}}/vendor/typeahead-js/typeahead.css">
<!-- <link rel="stylesheet" href="{{assets}}/examples/css/uikit/modals.css"> -->
{{/content}}

{{#content "css" mode="prepend"}}
<!-- <link rel="stylesheet" href="{{assets}}/examples/css/charts/chartist.css"> -->
<link rel="stylesheet" href="{{assets}}/examples/css/tables/datatable.css">
<!-- <link rel="stylesheet" href="{{assets}}/examples/css/dashboard/v1.css"> -->
{{/content}}


{{#content "fonts" mode="prepend"}}
<link rel="stylesheet" href="{{assets}}/fonts/weather-icons/weather-icons.min.css">
<link rel="stylesheet" href="{{assets}}/fonts/font-awesome/font-awesome.min.css">
<link rel="stylesheet" href="{{assets}}/fonts/EuclideCircularA/EuclideCircularA.css">
{{/content}}

{{#content "js_vendor" mode="append"}}
<!-- <script src="{{assets}}/vendor/skycons/skycons.js"></script> -->
<!-- <script src="{{assets}}/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js"></script> -->
<!-- <script src="{{assets}}/vendor/chartist/chartist.js"></script> -->
<!-- <script src="{{assets}}/vendor/aspieprogress/jquery-asPieProgress.min.js"></script> -->
<!-- <script src="{{assets}}/vendor/jvectormap/jquery-jvectormap.min.js"></script> -->
<!-- <script src="{{assets}}/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js"></script> -->
<!-- <script src="{{assets}}/vendor/matchheight/jquery.matchHeight-min.js"></script> -->
<script src="{{assets}}/vendor/datatables.net/jquery.dataTables.js"></script>


<script src="{{assets}}/vendor/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="{{assets}}/vendor/datatables.net-fixedheader/dataTables.fixedHeader.js"></script>
<script src="{{assets}}/vendor/datatables.net-fixedcolumns/dataTables.fixedColumns.js"></script>
<script src="{{assets}}/vendor/datatables.net-rowgroup/dataTables.rowGroup.js"></script>
<script src="{{assets}}/vendor/datatables.net-scroller/dataTables.scroller.js"></script>
<script src="{{assets}}/vendor/datatables.net-responsive/dataTables.responsive.js"></script>
<script src="{{assets}}/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons/dataTables.buttons.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons/buttons.html5.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons/buttons.flash.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons/buttons.print.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons/buttons.colVis.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons-bs4/buttons.bootstrap4.js"></script>
<!-- <script src="{{assets}}/vendor/asrange/jquery-asRange.min.js"></script> -->
<script src="{{assets}}/vendor/bootbox/bootbox.js"></script>
<script src="{{assets}}/vendor/icheck/icheck.min.js"></script>
<script src="{{assets}}/vendor/select2/select2.full.min.js"></script>
<script src="{{assets}}/vendor/bootstrap-select/bootstrap-select.js"></script>
<script src="{{assets}}/vendor/bootstrap-tokenfield/bootstrap-tokenfield.min.js"></script>
<script src="{{assets}}/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="{{assets}}/vendor/typeahead-js/bloodhound.min.js"></script>
<script src="{{assets}}/vendor/typeahead-js/typeahead.jquery.min.js"></script>
<!-- <script src="{{assets}}/vendor/chartist/chartist.js"></script> -->
<!-- <script src="{{assets}}/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js"></script> -->
<script >
 var data =
   '[{ "value": 1, "text": "Tag 1", "continent": "Tag" }, { "value": 2, "text": "Tag 2", "continent": "Tag" }, { "value": 3, "text": "Tag 3", "continent": "Tag" }, { "value": 4, "text": "Tag 4", "continent": "Tag" }, { "value": 5, "text": "Tag 5", "continent": "Tag" }, { "value": 6, "text": "Tag 6", "continent": "Tag" } ]';

 //get data pass to json
 var tag = new Bloodhound({
   datumTokenizer: Bloodhound.tokenizers.obj.whitespace("text"),
   queryTokenizer: Bloodhound.tokenizers.whitespace,
   local: jQuery.parseJSON(data) //your can use json type
 });

 tag.initialize();

 var elt = $("#tagsInput");
 elt.tagsinput({
   tagClass: function(item) {
     switch (item.continent) {
       case 'Tag 1'   : return 'badge badge-primary';
       case 'Tag 2'   : return 'badge badge-danger';
       case 'Tag 3'   : return 'badge badge-success';
       case 'Tag 4'   : return 'badge badge-secondary';
       case 'Tag 5'   : return 'badge badge-warning';
     }
   },
   itemValue: "value",
   itemText: "text",
   typeaheadjs: {
     name: "tag",
     displayKey: "text",
     source: tag.ttAdapter()
   }
 });

 //insert data to input in load page
 elt.tagsinput("add", {
   value: 1,
   text: "Tag 1",
   continent: "Tag 1"
 });
 elt.tagsinput("add", {
   value: 2,
   text: "Tag 2",
   continent: "Tag 2"
 });
 elt.tagsinput("add", {
   value: 3,
   text: "Tag 3",
   continent: "Tag 3"
 });
 elt.tagsinput("add", {
   value: 3,
   text: "Tag 4",
   continent: "Tag 4"
 });
 elt.tagsinput("add", {
   value: 3,
   text: "Tag 5",
   continent: "Tag 5"
 });

</script >
{{/content}}

{{#content "js" mode="append"}}
<!--<script src="{{assets}}/js/Plugin/matchheight.js"></script>-->
<!--<script src="{{assets}}/js/Plugin/jvectormap.js"></script>-->
<!--<script src="{{assets}}/js/Plugin/datatables.js"></script>-->
<!--<script src="{{assets}}/js/Plugin/asscrollable.js"></script>-->
<script src="{{assets}}/js/Plugin/select2.js"></script>
<script src="{{assets}}/js/Plugin/bootstrap-tagsinput.js"></script>
<script src="{{assets}}/js/Plugin/bootstrap-tokenfield.js"></script>
{{/content}}


{{#content "scripts" mode="replace"}}
<script src="{{assets}}/examples/js/dashboard/v1.js"></script>
<script src="{{assets}}/examples/js/charts/chartist.js"></script>
<!-- <script src="{{assets}}/examples/js/tables/datatable.js"></script> -->

{{/content}}

{{#content "body"}}

<!-- Page -->
<div class="page">
  <div class="page-header">
    <h1 class="page-title">Appointments Coming</h1>
  </div>
  <div class="page-content container-fluid">
    <div class="row row-lg">
      <div class="col-xl-8">
        <div class="panel">
          <div class="panel-body">
            <div class="row">
              <div class="col-12 mb-20">
                <h6>Segment Name</h6>
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Enter Segment Name">
                </div>
              </div>
              <div class="col-12 mb-20">
                <h5 class="h5 black text-uppercase"><b>Type</b></h5>
                <ul class="list-unstyled list-inline m-0">
                  <li class="list-inline-item">
                    <input type="radio" class="icheckbox-green" id="inputRadioschecked" name="inputRadios"
                      data-plugin="iCheck" data-radio-class="iradio_flat-green" checked />
                    <label for="inputRadiosUnchecked">Dynamic</label>
                  </li>
                  <li class="list-inline-item">
                    <input type="radio" class="icheckbox-green" id="inputRadiosUnChecked" name="inputRadios"
                      data-plugin="iCheck" data-radio-class="iradio_flat-green" />
                    <label for="inputRadiosChecked">Static</label>
                  </li>
                </ul>
              </div>
             <div class="col-12">
                <h5 class="h5 black text-uppercase"><b>Tags</b></h5>
                <div class="form-group mb-0">
                 <input class="form-control form-control-lg" id="tagsInput" name="tagsInput">
<!--                 <input id="tagsInput" class="form-control form-control-lg" name="tags" data-plugin="tagsinput" value="Tag 1,Tag 2,Tag 3,Tag 4,Tag 5"-->
<!--                 <input id="tagsInput" class="form-control form-control-lg" name="tags" data-plugin="tagsinput" value="Tag 1,Tag 2,Tag 3,Tag 4,Tag 5"-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="panel">
          <div class="panel-body">
            <h6>Total Size</h6>
            <h4>20</h4>
            <div class="row">
              <div class="col-6 ">
                <h6 class="text-gray">Emails</h6>
                <h4><a href="#">20 emails</a></h4>
              </div>
              <div class="col-6 ">
                <h6 class="text-gray">Phone</h6>
                <h4>20</h4>
              </div>
              <div class="col-6 ">
                <h6 class="text-gray">Facebook</h6>
                <h4><a href="#">www.namewebsite.com</a></h4>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            <a href="#" class="d-block btn btn-lg btn-success">Calculate</a>
          </div>
        </div>
      </div>
    </div>
    <h2 class="page-title my-30">Criteria <small class="text-uppercase text-gray">Segments User*</small></h2>
    <div class="panel panel-form">
      <div class="panel-body">
        <h5 class="h5 black">All contacts matching these conditions</h5>
        <div class="row row-lg">
          <div class="col-11">
            <div class="row">
              <div class="form-group col-xl-6">
                <select data-plugin="select2" class="form-contro input-lg form-control-lgl" data-placeholder="Check-In">
                  <option>Check-In 1</option>
                  <option>Check-In 2</option>
                  <option>Check-In 3</option>
                </select>
              </div>
              <div class="form-group col-xl-3">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>
              <div class="form-group col-xl-3">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>
            </div>

          </div>
          <div class="col-1">
            <a href="#" class="btn btn-lg btn-pure btn-default icon wb-trash"></a>
          </div>
        </div>
        <div class="row row-lg">
          <div class="col-11">
            <div class="row form-group">
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Check-In">
                  <option>Check-In 1</option>
                  <option>Check-In 2</option>
                  <option>Check-In 3</option>
                </select>
              </div>
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>

            </div>

          </div>
          <div class="col-1">
            <a href="#" class="btn btn-lg btn-pure btn-default icon wb-trash"></a>
          </div>
        </div>
      </div>
      <button type="button" class="panel-form-btn"><i class="icon wb-plus" aria-hidden="true"></i>Add new
        condintions</button>
    </div>
    <div class="toggle-wrap">
      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
          <span class="onoffswitch-inner">
            <span class="onoffswitch-inner-on">Include</span>
            <span class="onoffswitch-inner-off">Exclude</span>
          </span>
          <span class="onoffswitch-switch"></span>
        </label>
      </div>
    </div>

    <div class="panel panel-form">
      <div class="panel-body">
        <h5 class="h5 black">Excludes all contacts that match these conditions </h5>
        <div class="row row-lg">
          <div class="col-11">
            <div class="row form-group">
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Check-In">
                  <option>Check-In 1</option>
                  <option>Check-In 2</option>
                  <option>Check-In 3</option>
                </select>
              </div>
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>
              <div class="col-xl-2">
                <select data-plugin="select2" class="form-contro form-control-lgl" data-placeholder="Equal To">
                  <option>Equal To 1</option>
                  <option>Equal To 2</option>
                  <option>Equal To 3</option>
                </select>
              </div>

            </div>

          </div>
          <div class="col-1">
            <a href="#" class="btn btn-lg btn-pure btn-default icon wb-trash"></a>
          </div>
        </div>
      </div>
      <button type="button" class="panel-form-btn"><i class="icon wb-plus" aria-hidden="true"></i>Add new
        condintions</button>
    </div>
    <div class="row row-lg">
      <div class="col-xl-3 offset-xl-4">
        <a href="#" class="d-block  btn btn-lg btn-success">Save</a>
      </div>
    </div>
  </div>

</div>

<!-- End Page -->

{{/content}}
{{/extend}}
