---
title: Segments
body_class: dashboard site-menubar-fold site-menubar-fold-alt site-menubar-keep
---

{{#extend "layout-default"}}
{{#content "css_vendor" mode="append"}}
<link rel="stylesheet" href="{{assets}}/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-fixedheader-bs4/dataTables.fixedheader.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-fixedcolumns-bs4/dataTables.fixedcolumns.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-rowgroup-bs4/dataTables.rowgroup.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-scroller-bs4/dataTables.scroller.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-select-bs4/dataTables.select.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-responsive-bs4/dataTables.responsive.bootstrap4.css">
<link rel="stylesheet" href="{{assets}}/vendor/datatables.net-buttons-bs4/dataTables.buttons.bootstrap4.css">

<!-- <link rel="stylesheet" href="{{assets}}/vendor/chartist/chartist.css"> -->
<link rel="stylesheet" href="{{assets}}/vendor/asscrollable/asScrollable.css">
<!-- <link rel="stylesheet" href="{{assets}}/examples/css/uikit/modals.css"> -->
{{/content}}

{{#content "css" mode="prepend"}}
<!-- <link rel="stylesheet" href="{{assets}}/examples/css/charts/chartist.css"> -->
<link rel="stylesheet" href="{{assets}}/examples/css/tables/datatable.css">
<!-- <link rel="stylesheet" href="{{assets}}/examples/css/dashboard/v1.css"> -->
{{/content}}


{{#content "fonts" mode="prepend"}}
<link rel="stylesheet" href="{{assets}}/fonts/weather-icons/weather-icons.min.css">
<link rel="stylesheet" href="{{assets}}/fonts/font-awesome/font-awesome.min.css">
<link rel="stylesheet" href="{{assets}}/fonts/EuclideCircularA/EuclideCircularA.css">
{{/content}}

{{#content "js_vendor" mode="append"}}
<!-- <script src="{{assets}}/vendor/skycons/skycons.js"></script> -->
<!-- <script src="{{assets}}/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js"></script> -->
<!-- <script src="{{assets}}/vendor/chartist/chartist.js"></script> -->
<!-- <script src="{{assets}}/vendor/aspieprogress/jquery-asPieProgress.min.js"></script> -->
<!-- <script src="{{assets}}/vendor/jvectormap/jquery-jvectormap.min.js"></script> -->
<!-- <script src="{{assets}}/vendor/jvectormap/maps/jquery-jvectormap-au-mill-en.js"></script> -->
<!-- <script src="{{assets}}/vendor/matchheight/jquery.matchHeight-min.js"></script> -->
<script src="{{assets}}/vendor/datatables.net/jquery.dataTables.js"></script>

<script src="{{assets}}/vendor/datatables.net-bs4/dataTables.bootstrap4.js"></script>
<script src="{{assets}}/vendor/datatables.net-fixedheader/dataTables.fixedHeader.js"></script>
<script src="{{assets}}/vendor/datatables.net-fixedcolumns/dataTables.fixedColumns.js"></script>
<script src="{{assets}}/vendor/datatables.net-rowgroup/dataTables.rowGroup.js"></script>
<script src="{{assets}}/vendor/datatables.net-scroller/dataTables.scroller.js"></script>
<script src="{{assets}}/vendor/datatables.net-responsive/dataTables.responsive.js"></script>
<script src="{{assets}}/vendor/datatables.net-responsive-bs4/responsive.bootstrap4.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons/dataTables.buttons.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons/buttons.html5.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons/buttons.flash.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons/buttons.print.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons/buttons.colVis.js"></script>
<script src="{{assets}}/vendor/datatables.net-buttons-bs4/buttons.bootstrap4.js"></script>
<!-- <script src="{{assets}}/vendor/asrange/jquery-asRange.min.js"></script> -->
<script src="{{assets}}/vendor/bootbox/bootbox.js"></script>
<!-- <script src="{{assets}}/vendor/chartist/chartist.js"></script> -->
<!-- <script src="{{assets}}/vendor/chartist-plugin-tooltip/chartist-plugin-tooltip.js"></script> -->

<script>
  (function() {
    $(document).ready(function() {
      // datatable js
      var defaults = Plugin.getDefaults("dataTable");
      let table = $('#segmentsListTable');
      var options = $.extend(true, {}, defaults, {
        "searching": true,
        "ordering": true,
        "responsive": true,
        "aoColumnDefs": [
          { 'bSortable': false, 'aTargets': [ 4 ] } // hide sort arrows for last column
        ],
        "paging": true,
        "autoWidth": true,
        "fixedHeader": false,
        "iDisplayLength": 5,
        "aLengthMenu": [
          [5, 10, 25, -1],
          [5, 10, 25, "All"]
        ],
        //Position from top to bottom! Custom Toolbar -> table -> Custom Table Footer
        "dom": "'<'row custom-table-toolbar'<'col-md-12 col-xl-6 col-lg-6'f><'col-md-12 col-xl-6 col-lg-6'B>>" +
          "<'row create'>" +
          "<'row'<'col-sm-12'tr>>" +
          "<'row custom-table-footer'<'col-sm-12 col-xl-4'li><'col-sm-12 col-xl-8'p>>",
        "columnDefs": [{
          "className": "dt-right",
          "targets": [0] // First column
        }],
        
        //Buttons in toolbar
        "buttons": [
          {
            "className": 'btn btn-squared btn-outline btn-default',
            "extend": 'colvis',
            "text": 'Date'
          },
          {
            "className": 'btn btn-squared btn-outline btn-default',
            "extend": 'colvis',
            "text": 'Members'
          },
          {
            "className": 'btn btn-squared btn-outline btn-default',
            "extend": 'colvis',
            "text": 'Sms opt-ins'
          },
        
        ]
      });
      table.DataTable(options);
      $('div.dataTables_filter label,div.dataTables_filter input').addClass('w-p100');
      
      
      // Create Box List horizontal scroll
      var setInvisible = function(elem) {
        elem.css('display', 'none');
      };
      var setVisible = function(elem) {
        elem.css('display', 'block');
      };
      
      var elem = $(".create-tags-list");
      var items = elem.children();
      
      // Inserting Buttons
      // elem.prepend('<a class="btn btn-pure icon wb-chevron-left-mini" href="#" id="right-button" style="display: none;"></a>');
      // elem.append('  <a class="btn btn-pure icon wb-chevron-right-mini" href="#" id="left-button"></a>');
      
      // Inserting Inner
      // items.wrapAll('<div class="create-wrap-inner" />');
      
      // Inserting Outer
      // debugger;
      // elem.find('.create-wrap-inner').wrap('<div class="create-wrap"/>');
      
      var outer = $('.create-tags-list');
      
      var updateUI = function() {
        var maxWidth = outer.outerWidth(true);
        var actualWidth = 0;
        $.each($('.create-tags-list >'), function(i, item) {
          actualWidth += $(item).outerWidth(true);
        });
        
        if (actualWidth <= maxWidth) {
          setVisible($('#left-button'));
        }
      };
      updateUI();
      
      
      
      $('#right-button').click(function() {
        var leftPos = outer.scrollLeft();
        outer.animate({
          scrollLeft: leftPos - 200
        }, 800, function() {
          // debugger;
          if ($('.create-wrap').scrollLeft() <= 0) {
            setInvisible($('#right-button'));
          }
        });
      });
      
      $('#left-button').click(function() {
        setVisible($('#right-button'));
        var leftPos = outer.scrollLeft();
        outer.animate({
          scrollLeft: leftPos + 200
        }, 800);
      });
      
      $(window).resize(function() {
        updateUI();
      });
    });
  })();
</script>
{{/content}}

{{#content "js" mode="append"}}
  <script src="{{assets}}/js/Plugin/matchheight.js"></script>
  <script src="{{assets}}/js/Plugin/jvectormap.js"></script>
  <script src="{{assets}}/js/Plugin/datatables.js"></script>
  <script src="{{assets}}/js/Plugin/asscrollable.js"></script>
{{/content}}


{{#content "scripts" mode="replace"}}
<script src="{{assets}}/examples/js/dashboard/v1.js"></script>
<script src="{{assets}}/examples/js/charts/chartist.js"></script>
<!-- <script src="{{assets}}/examples/js/tables/datatable.js"></script> -->

{{/content}}

{{#content "body"}}

<!-- Page -->
<div class="page">
  <div class="page-header">
   <div class="d-flex justify-content-between">
    <h1 class="page-title">Segments </h1>
    <a href="#" class="btn btn-lg btn-primary text-right my-3"><i class="icon wb-plus" aria-hidden="true"></i> Create New Segment</a>
    
   </div>
  </div>
  <div class="page-content container-fluid">
     <!-- Table Individual column searching -->
     <div class="custom-table">
      <div class="custom-table-body">
        <table class="table table-hover dataTable w-full" id="segmentsListTable">
          <!-- <tfoot>
            <tr>
              <th>User Name</th>
              <th>Phone & Mail</th>
              <th>List & Date</th>
              <th>Sessions</th>
              <th>Add & Last Access</th>
              <th>Action</th>
            </tr>
          </tfoot> -->
          <thead>
            <tr>
              <th>User Name</th>
              <th>Email status</th>
              <th>Phone</th>
              <th>Facebook ID</th>
              <th>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Ada Hoppe</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop3" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop3" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Ada Hoppe</h4></a>
                    <div class="mt-5">
                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Herman Beck</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Mary Adams</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Caleb Richards</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">June Lane</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Edward Fletcher</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Crystal Bates</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Nathan Watts</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Heather Harper</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Edward Fletcher</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Nick Hoppe</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Ada Hoppe</h4></a>
                    <div class="mt-5">
                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Herman Beck</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Mary Adams</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Caleb Richards</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">June Lane</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Edward Fletcher</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Crystal Bates</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Nathan Watts</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Heather Harper</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="media">
                  <div class="media-body">
                    <a href="javascript:void(0)"><h4 class="my-0">Edward Fletcher</h4></a>
                    <div class="mt-5">

                      <span class="badge badge-primary">tag name</span>
                      <span class="badge badge-warning">tag name</span>
                      <span class="badge badge-danger">tag name</span>
                      <span class="badge badge-success">tag name</span>
                      <a class="btn btn-sm btn-icon btn-primary" href="javascript:void(0)" role="button">
                        <i class="icon wb-plus"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </td>
              <td>yevhen.ledo@mail.com</td>
              <td>+5129055336</td>
              <td><a href="#">ID=100013137888840</a></td>

              <td class="actions">
                <div class="btn-group" aria-label="Button group with nested dropdown" role="group">
                  <button type="button" class="btn btn-outline btn-default">
                    <i class="icon wb-eye" aria-hidden="true"></i>
                  </button>
                  <div class="btn-group dropleft" role="group">
                    <button type="button" class="btn btn-outline btn-default dropdown-toggle" id="exampleGroupDrop2" data-toggle="dropdown" aria-expanded="false">
                      <i class="icon wb-more-vertical" aria-hidden="true"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="exampleGroupDrop2" role="menu" >
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Duplicate</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Move to Folder</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Switch to Dynamic/Static</a>
                      <a class="dropdown-item" href="javascript:void(0)" role="menuitem"> Add to Fb custom audience</a>
                    </div>
                  </div>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
    <!-- End Panel Table Individual column searching -->
  </div>

</div>

<!-- End Page -->

{{/content}}
{{/extend}}
