html,
body {
  height: 100%;
}

//body {
//  // padding-top: $site-navbar-height;
//}

.site-menubar {
  position: fixed;
  // top: $site-navbar-height;
  top: 0;
  z-index: $zindex-menubar;
  height: 100%;
  // height: calc(100% - #{$site-navbar-height});
  padding: 40px 0 60px;
  font-family: $site-menubar-font-family;
  color: $site-menubar-color;
  background: $gray-light;
  box-shadow: $site-menubar-shadow;

  &-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    height: calc(100% - #{$site-menubar-footer-height});

    .scrollable-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-toggle {
    display: flex;
    justify-content: center;
    padding: 0 $site-menubar-padding-horizontal;

    a {
      font-size: 24px;
      text-align: center;
    }

    .hamburger {
      width: 18px;
    }
  }

  &-brand {
    display: flex;
    justify-content: center;
    padding: 0 $site-menubar-padding-horizontal;
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    line-height: 32px;
    color: $blue;
    text-align: left;
    &-logo {
      // font-family: "Cerebri Sans";
      display: block;
    }

    &-text {
      display: none;
    }
  }

  &-avatar {
    display: flex;
    justify-content: center;
    padding-bottom: 60px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  a {
    outline: none;

    &:hover,
    &:focus {
      text-decoration: none;
    }
  }

  &.site-menubar-light {
    background: $site-menubar-light-bg;
    box-shadow: $site-menubar-light-shadow;

    .scrollable-inverse.scrollable .scrollable-bar-handle {
      background: rgba($gray-400, (60 / 100));
    }
  }
}

.site-menubar-section {
  padding: 0 $site-menubar-padding-horizontal;
  margin-top: 50px;
  margin-bottom: 50px;

  > h4,
  > h5 {
    color: $site-menubar-section-title-color;
  }

  .progress {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.site-menubar-footer {
  position: fixed;
  bottom: 0;
  z-index: $zindex-menubar;
  display: block;

  > a {
    display: block;
    float: left;
    width: (100% / 3);
    height: $site-menubar-footer-height;
    padding: 26px 0;
    font-size: 16px;
    color: $site-menubar-footer-color;
    text-align: center;
    background-color: $site-menubar-footer-link-bg;

    &:hover,
    &:focus {
      background-color: $site-menubar-footer-link-hover-bg;
    }
  }
}

.site-menubar-light {
  .site-menubar-footer {
    > a {
      background-color: $site-menubar-light-footer-link-bg;

      &:hover,
      &:focus {
        background-color: $site-menubar-light-footer-link-hover-bg;
      }
    }
  }
}


.site-menubar-unfold {
  .site-menubar-brand{
    justify-content: flex-start;
  }
  .site-menubar-brand-logo {
    display: none;
  }
  .site-menubar-brand-text {
    display: block;
  }
}

.site-navbar.navbar.navbar-default {
  display: none;
}
@include media-breakpoint-down(md) {
  .site-navbar.navbar.navbar-default {
    display: flex;
  }
  //.site-menubar-hide .site-menubar,
  //.site-menubar-open .site-menubar {
  //  top: 0;
  //  width: 100% !important;
  //}
}
