<div class="site-menubar site-menubar-light">
  <div class="site-menubar-brand site-gridmenu-toggle" data-toggle="gridmenu">
      <span class="site-menubar-brand-logo">G</span>
      <span class="site-menubar-brand-text">Gleantap</span>
  </div>
  <div class="site-menubar-toggle" id="toggleMenubar">
    <a class="site-menubar-toggle-link" data-toggle="menubar" href="#" role="button">
      <i class="icon hamburger hamburger-arrow-left">
        <span class="sr-only">Toggle menubar</span>
        <span class="hamburger-bar"></span>
      </i>
    </a>
  </div>
  <div class="site-menubar-body">
    <div>
      <div>

        {{> site_menu }}

      </div>
    </div>
  </div>

  {{> site_menubar_footer }}
</div>
